/*-- GLOBAL STYLES --*/

body {
  background-color: #FFCC00;
  font-family: 'Montserrat', sans-serif;
}
h1, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-family: 'Inconsolata', monospace;
}


/*-- BOOTSTRAP MODIFICATIONS --*/

.img-fluid {
  max-width: none !important;
  width: 100%;
}

.btn-block {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}
/*-- ADDED CLASSES --*/

.logo {
  height: 70%;
  width: 70%;
}

.menu-bg {
  background-color: #FFCC00;
}

.hero {
  padding-top: 6%;
}

.hero-overlay {
  font-size: 7vw;
  line-height: 8vw;
  position: absolute;
  bottom: 27%;
  left: 12%;
  text-shadow: 1px 1px 1px rgba(255,204,0,0.7);
}

.hero-behind {
  font-size: 42vw;
  line-height: 43vw;
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: -10;
}

.hero-below {
  margin-top: 60px;
  margin-bottom: 60px;
}

.toggle {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.emp {
  font-size: 1.25em;
  font-weight: bold;
}

.flt-img {
  float: left;
  width: 42px;
  height: auto;
  margin-right: 42px;
}


/* ACCENT COLORS */

.accent-1 {
  background-color: #911007;
}

.accent-2 {
  background-color: #01092B;
}

.accent-3 {
  background-color: #384242;
}

.accent-4 {
  background-color: #3F5D9C;
}
